
body {
    font-family: sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
}