@charset "UTF-8";
.cor-terciaria {
  color: #f19000;
}

.grid-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-container .col {
  flex: 1;
}
.grid-container .col-1 {
  width: calc(100% / 12);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-1 {
    width: 100%;
  }
}
.grid-container .col-2 {
  width: calc(100% / 6);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-2 {
    width: 100%;
  }
}
.grid-container .col-3 {
  width: calc(100% / 4);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-3 {
    width: 100%;
  }
}
.grid-container .col-4 {
  width: calc(100% / 3);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-4 {
    width: 100%;
  }
}
.grid-container .col-5 {
  width: calc(100% / 2.4);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-5 {
    width: 100%;
  }
}
.grid-container .col-6 {
  width: calc(100% / 2);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-6 {
    width: 100%;
  }
}
.grid-container .col-7 {
  width: calc(100% / 1.7142857143);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-7 {
    width: 100%;
  }
}
.grid-container .col-8 {
  width: calc(100% / 1.5);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-8 {
    width: 100%;
  }
}
.grid-container .col-9 {
  width: calc(100% / 1.3333333333);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-9 {
    width: 100%;
  }
}
.grid-container .col-10 {
  width: calc(100% / 1.2);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-10 {
    width: 100%;
  }
}
.grid-container .col-11 {
  width: calc(100% / 1.0909090909);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-11 {
    width: 100%;
  }
}
.grid-container .col-12 {
  width: calc(100% / 1);
  border: 1px dashed seashell;
  box-sizing: border-box;
}
@media (max-width: 999px) {
  .grid-container .col-12 {
    width: 100%;
  }
}

.fundo-gradiente {
  background: linear-gradient(to right, #d88936 10%, #114fb7);
  min-height: 96px;
  display: flex;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /*corrige a largura do elemento por ser filho de um flex*/
}
.cabecalho .logotipo img {
  max-width: 100px;
  height: auto;
}
.cabecalho .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.cabecalho .menu a {
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  background-color: #ffe5d1;
  border-radius: 10px;
  transition: all 500ms;
  text-decoration: none;
}
.cabecalho .menu a:hover {
  background-color: #5584fb;
}
.cabecalho .menu li.amarelo {
  background-color: yellow;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1400px; /* defino uma largura máxima */
  margin: 0 auto; /* centralizo elementos block */
}

a.efeito-zoom img {
  transition: all 1s ease-in-out;
}
a.efeito-zoom:hover img {
  transform: scale(1.1);
  opacity: 0;
}

footer {
  background-color: #1453bd;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
