body {
  font-family: sans-serif;
}
.container,
main,
footer {
  max-width: 768px; /* defino uma largura máxima */
  margin: 0 auto; /* centralizo elementos block */
}
.menu {
  display: flex;
  justify-content: space-between;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotipo img {
  max-width: 100px;
  height: auto;
}
.menu a {
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  background-color: #ffe5d1;
  border-radius: 10px;
  transition: all 500ms;
  text-decoration: none;
}
.menu a:hover {
  /* classe seletora e passar o mouse sobre */
  background-color: #ffffff;
}
