.grid-container {
  //abre aqui
  max-width: $larguraContainer;
  margin: 0 auto; // centralizar o bloco
  display: flex;
  flex-wrap: wrap; // quebrar os elementos que foram maior ou que excedem o container
  justify-content: space-between;

  .col {
    flex: 1;
  }
  .col-1 {
    width: calc(100% / 12);
  }
  .col-2 {
    width: calc(100% / 6);
  }
  .col-3 {
    width: calc(100% / 4);
  }
  .col-4 {
    width: calc(100% / 3);
  }
  .col-5 {
    width: calc(100% / 2.4);
  }
  .col-6 {
    width: calc(100% / 2);
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc(100% / #{12 / $i});

      @media (max-width: 999px) {
        width: 100%;
      }
    }
  }
} // fecha aqui
