.grid-container {
  //abre aqui
  max-width: $larguraContainer;
  margin: 0 auto; // centralizar o bloco
  display: flex;
  flex-wrap: wrap; // quebrar os elementos que foram maior ou que excedem o container
  justify-content: space-between;

  .col {
    flex: 1;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc(100% / #{calc(12 / $i)});
      border: 1px dashed seashell;
      box-sizing: border-box;
      @media (max-width: 999px) {
        width: 100%;
      }
    }
  }
} // fecha aqui
