a.efeito-zoom {
  img {
    // estado inicial
    transition: all 1s ease-in-out;
  }

  &:hover {
    img {
      // estado quando A possui Hover
      transform: scale(1.1);
      opacity: 0;
    }
  }
}
