RewriteEngine On

# Usamos o RewriteRule para criar
# uma regra dentro do .htacess 
# RewriteRule {REGRA} {DESTINO} [flags]
RewriteRule ^(.*)/(.*)$ index.php?tabela=$1&id=$2 [QSA,L]

# ^(.*)$ = Qualquer coisa que vier depois do dominio
# index.php?path=$1 = O que vier depois do dominio sera passado para a variavel path
# [QSA,L] = Flags, QSA = Query String Append, L = Last
# QSA = Adiciona a query string original a query string nova
# L = Last, para a execucao do .htaccess

